$white: #fff;
$header-color: hsl(160, 60%, 50%);

$peach-color: hsl(40, 75%, 75%);
$green-color: hsl(75, 80%, 75%);
$grey-color: hsl(0, 0%, 45%);
$purple-color: hsl(260, 60%, 65%);
$lightPurple: hsl(215, 80%, 70%);