.app__content {
    margin: 2em auto;
    padding: 0 1em;
    max-width: 72em;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    .content__box {
        height: auto;
        padding: 0.5rem;
        &.left {
            flex: 1 0 50%;
        }
        &.right {
            flex: 1 0 50%;
        }
    }
    @include tablet-view {
        flex-direction: row;
    }
}
code {
    display: block;
    position: relative;
    margin: 1rem 0;
    overflow: auto;
    max-width: 100%;
    padding: 35px 10px 10px;
    border-radius: 2px;
    color: $white;
    &::before {
        position: absolute;
        top: 0; left: 0; right: 0;
        height: 25px; line-height: 25px + .2;
        padding-left: 10px;
        font-weight: bold;
    }
}
/*
.code--install {
    background: lighten($grey-color, 8%);
    &::before {
        content: 'Install';
        background: $grey-color;
    }
}*/
.code--usage {
    background: lighten($grey-color, 8%);
    &.A::before {
        content: 'define globally';
        background: $grey-color;
    }
    &.B::before {
        content: 'define locally';
        background: $grey-color;
    }
    &.C::before {
        content: ''
    }
}
.code--sample {
    background: lighten($grey-color, 8%);
    &.A::before {
        content: 'default props';
        background: $grey-color;
    }
    &.B::before {
        content: 'custom text size';
        background: $grey-color;
    }
}